*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
header{
    height: 15%;
    background-color: rgb(0, 255, 0);
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
div.menu{
    float: left;
    width: 50%;
    background-color: cornflowerblue;
    height: 10%;
}
div#content{
    box-sizing: border-box;
    background-color: yellow;
    width: 80%;
    border-right: 1vw solid darkblue;
    float: left;
    height: 65%;
}
div#totallyNotAnAd{
    background-color: darkcyan;
    width: 20%;
    float: left;
    height: 65%;
}
footer{
    height: 10%;
    width: 100%;
    background-color: red;
    float: left;
}